* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
 
  background-color: #f4f4f4;
}
.container {
width: 1200px;
margin: 0 auto;
font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

/* navbar */
nav {
max-width: 1200px;
grid-template-columns: repeat(3, 1fr);
align-items: center;
display: grid;
margin: auto;
margin-top: 10px;
}
nav > img {
width: 50px;
}
.navlink > a {
text-decoration: none;
padding-right: 50px;
color: #000;

}
.navlink > a:hover {
color: #12dada;
}
.nav-btn {
margin-left: 60%;
padding: 10px 0px;
border-radius: 5px;
background-color: #0fdb6b;
color: #000;
font-weight: bold;
width: 150px;

cursor: pointer;
border: none;

}
.nav-btn:hover {
transform: scale(1.1);
transition: all 0.5s;
}

/* section */
.hero-container {
max-width: 1200px;
/* height: 90vh; */
margin: auto;
display: grid;
grid-template-rows: 100px, 1fr;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
align-items: center;

padding: 10px;

}
.text-section {
padding: 0px 50px;
}
.text-section > h1 {
font-size: 2.5rem;
font-weight: 550;
margin-bottom: 30px;
}
.text-section p {
color: #4c665d;

}

.btn {
    margin-top: 30px;
    width: fit-content; 
    background-color: #e84949;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    z-index: 1;   
    padding: 0.8rem 2.3rem;
    font-size: 18px;
    border: none;
    position: relative;
   }
   .btn::before {
     content: "";
     background-color: #0f0f0f;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0; 
     left: 0;
     transform: scaleX(0);
     z-index: -1;
     transform-origin: left;
     transition: 0.8s;
   }
   .btn:hover::before {
     transform: scale(1);
   }
   .btn:hover {
     transition: 0.8s;
     color: #fff;
     box-shadow: 5px 5px 7px 0px #00003f;
     cursor: pointer;
   }
.image-section {
background-color: yellow;
height: 100%;

}
.image-section > img {
width: 70%;
height: 100%;
}
/* section-03 */
.section-03 {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
background-color: #2B1E16;
/* justify-content: center; */
margin: auto;

}
.sub-section {
/* margin: 10px 50px; */
text-align: center;
}
.sub-section img {
width: 150px;

}
.hd-03 {
    margin-top: 30px;
color: #fff;
}
.sub-section p {
color: #8c6e54;
margin-top: 30px;
margin-bottom: 30px;
}
.sub-section-03-heading {
margin-top: 60px;
}
/* section-04 */
.section-04 {
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 60px;
padding: 30px 0px;
}

.section-04 .sub-section img {
text-align: center;
width: 100%;
height: 280px;
border-radius: 10% 10% 0 0; /* top left and top right corners have a border radius of 10px */

}
.section-04 .text-section {
position: relative;
background-color: #fff;
margin-top: 0px;
top: -50px;
text-align: center;
border: 1px solid black;
border-radius: 0px 0px 25px 25px;
}
.text-section > h2 { 
margin: 0px;
padding: 5px 0px;
font-size: 30px;

}


.section-04 .sub-section p {
margin-top: 0px;
font-size: 15px;
}
/* footer-start */
.ft {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 100px;
    
    gap: 20px;
    background-color: #2B1E16;
    padding: 50px;
    color: #fff;
   margin: 0 auto;
   width: 90%;
  
  }
  
  .imgcon {
    text-align: center;
  }
  .imgcon > img {
    width: 300px;
}
  
  .footer-nav {
    text-align: left;
   
  }
  .footer-nav > h1 {
    margin-bottom: 20px;
  }
  
  .nav-link {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
  }
  .nav-link > a {
    text-decoration: none;
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
  }
  .ft-disc {
    grid-column: 1/4;
    
   text-align: center;
  }
  
  
  

