@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  font-size: 1.1em;
}

.footerContainer {
  background-color: #1b2124;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.footer {
  max-width: 1200px;
  width: 100%;
  margin: 50px 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.logo {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
  
}

.footer1 {
  margin-top: 25px;
        margin-left: 100px;
        max-width: 30%;
        width: 100%;
 
}
.footer2 {
  max-width: 30%;
  width: 100%;
}

.footer3 {
  max-width: 30%;
  width: 100%;
}
td {
  width: 150px;
  height: 75px;
  
}
td:hover {
  cursor: pointer;
}


.heading {
  font-weight: bold;
  margin-bottom: 0px;
}
.mail {
  margin-top: 4px;
  margin-bottom: 60px;
}
.title {
  font-size: 25px;
  margin-bottom: 20px;
}

hr {
  margin-right: 50%;
  border: 1px solid #c48e59;
}
.product {
  margin-bottom: 20px;

  
}
.product:hover {
  cursor: pointer;
}